:root {
  --jblack: #1e1d20;
  --jdarkgray: #333333;
  --jgray: #d6d6d6;
  --jblue: #0571e3;
  --jdarkblue: #01448b;
  --jdarkred: #bb8482;
  --jdarkgreen: #91bd83;
  --jdarkyellow: #b0ba53;
  --jwhite: #fbfbfd;
  --joffwhite: #f5f5f7;
  font-family: helvetica, Arial, sans-serif;
}

/* Flexbox */
.row {
  width:100%;
  max-width: 1028px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 1%;
}

.micro-card {
  /* flex: 1 0 16%; */
  padding: 3px;
  color: var(--jgray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100px;
  height: 100px;
  text-align: center;
}

.micro-card footer {
  font-size: 80%;
}
/* END Flexbox */

/* GENERAL ELEMENT STYLE */
a {
  color: var(--jdarkblue);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--jblue);
  transform:scale(1.075);
  transition-duration: 0.25s;
}

button {
  appearance: none;
  border: 1px solid var(--jdarkgray);
  border-radius: 5px;
  background-color: var(--gray);
}

button:hover{
  cursor: pointer;
  background-color: var(--jwhite);
  color: var(--jblack);
  border: 1px solid var(--jblack);
}

button:active {
  background-color:var(--jdarkgray);
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--jwhite);
  align-items: center;
}

section {
  padding-top: 60px;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 5%;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}
/* END OF GENERAL SECTION */

/* NAVBAR */
.navbar {
  height: 60px;
  justify-content: space-evenly;
  background-color: var(--jblack);
  overflow: hidden;
  opacity: .97;
  z-index: 1;
}

.navRow {
  width: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: var(--jgray);
}

.navbar a:active {
  color: white;
}

.navbar .icon {
  padding-left: 1%;
  width: 20px;
  overflow: hidden;
  display: none;
}

#logo {
  width: 20px;
}

#spacer {
  padding-right: 1%;
  width: 20px;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + section {
  padding-top: 120px;
}
/* END OF NAVBAR */

/* JB SECTION */
#JB {
  padding-top:0;
  min-height:0;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT SECTION */
#about {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

#about .card {
  width: 360px;
  height: 300px;
}

#my-image{
  border-radius: 10px;
}

#about-blurb {
  /* margin-top: 5%; */
  max-width: 360px;
}

.subrow {
  display: flex;
  justify-content:space-around;
  flex-grow:1;
}
/* END OF ABOUT SECTION */

/* PROJECT SECTION */
#projects .card {
  background-color: var(--jgray);
  justify-content: space-around;
}

#projects p {
  color: black;
  width: 80%;
}

.projectImg {
  border-radius: 100%;
}

.projectImg:hover {
  cursor: pointer;
}

/* END OF PROJECT SECTION */

/* Resume */
#resume {
  border: none;
  justify-content: center;
}

/* MOBILE SETTINGS */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navRow {
    width: 100%;
  }

  .navRow a.icon {
    display: flex;
    align-self: flex-start;
  }

  .navRow #logo {
    display: flex;
  }

  .navRow #spacer {
    align-self: flex-end;
  }

  #about {
    justify-content: center;
  }

  #name {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    padding-top: 22px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px
  }

  .navbar.responsive a {
    display: flex;
  }
  .navbar.responsive a:not(.ignore) {
    padding-top:3%;
    padding-bottom: 3%;
    padding-left: 2%;
  }
}

/* -----Fade In ----- */
.fade-in-fast {
  color: var(--jwhite);
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fade-in-slow {
  color: var(--jwhite);
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
/* -----End Fade In---- */